
@{
	ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>Learn about us and our products. Thanks for buying our products.</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
</div>